:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #242424;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  margin: 0;
  width: 445px;
  height: 225px;
}

body {
  height: 100%;
  margin: 0;
}

main {
  background-color: white;

  padding: 16px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top-frame {
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 18px;
  height: 18px;
}

#logo-btn,
#exit-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#exit-btn img {
  width: 16px;
  height: 16px;
}

input {
  background-color: #f2f2f2;
  color: #292929;
  border: none;
  outline: none;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  box-sizing: border-box;
}

input::placeholder {
  opacity: 0.7;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

footer span {
  user-select: none;
  color: #a1a1a1;
}

.switch-toggle-override {
  scale: 0.5;
  position: relative;
  top: 2px;
  left: 6px;
}
